body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

@media screen and (min-width:667px) {
    #mapid {
        height: 450px;
        width: 100%;
    }
    .map {
        margin-top: 10%;
        -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
}

/* For smaller screens */

@media screen and (max-width:667px) {
    #mapid {
        margin-top: 15px;
        height: 450px;
        width: 100%;
    }
    .modalPic {
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 5px #ccc;
        -moz-box-shadow: 5px 5px 5px #ccc;
        margin-bottom: 10px;
    }
}

.modalPic {
    text-align: center;
    float: right;
    box-shadow: 5px 5px 5px #ccc;
    -moz-box-shadow: 5px 5px 5px #ccc;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.closeBtn a {
    color: grey;
}

.leaflet-popup-content {
    text-align: center;
}

h4 {
    text-align: center;
}

.modal-footer {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 10px;
}

.alertToast {
    background-color: rgba(226, 135, 74, 0.849);
}

.alertToast a {
    color: white;
    font-weight: 500;
}

footer {
    background-color: rgba(134, 134, 134, 0.548);
    color: white;
    /* background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 5px #000000; */
}

.brand-logo {
    font-size: 3em;
    text-shadow: 1px 1px 5px #505050;
}

.nav-wrapper {
    /* background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.logo {
    font-family: 'Tangerine', cursive;
    padding-right: 10%;
    font-size: 1.5em;
    color: black;
    padding-top: 20px;
    font-weight: 700;
}

.logo a {
    color: black;
}