body {
    padding: 0;
    margin: 0;
}

/* html,
body,
#mapid {
    height: 100%;
    width: 100vw;
} */

#mapid {
    height: 450;
    width: 100vw;
}

@media screen and (min-width:320px) {
    #mapid {
        height: 450px;
        width: 80%;
    }
}

@media screen and (max-width:667px) {
    #mapid {
        height: 450px;
        width: 100vw;
    }
}

.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.closeBtn a {
    color: grey;
}

.leaflet-popup-content {
    text-align: center;
}

h4 {
    text-align: center;
}

.modal-footer {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 10px;
}